# Virtual Environment
venv/

# Dataset
dataset/

# Python
__pycache__/
*.pyc

# Model Weights
*.pth
*.pt

# Output folders

runs/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store