venv/
__pycache__/
*.pyc

outputs/
runs/

.ipynb_checkpoints/

*.pth
*.pt

.DS_Store

.idea/

.vscode/settings.jsonvenv/
__pycache__/
*.pyc

outputs/
runs/

.ipynb_checkpoints/

*.pth
*.pt

.DS_Store

.idea/

.vscode/settings.json